:root {
    --green: #8cc84c;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-weight: normal;
    font-size: 14px;
    font-weight: normal;
    height: 100vh;
}

.wrapper {
    display: flex;
    /* align-items: center; */
    height: calc(100vh - 72px);
    justify-content: center;
    background-size: cover;
    background-position: center;
    transition: 0.5s all ease-in-out;
}

form.todo__form {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 20px 20px;
    border-bottom: 1px solid;
}

.todo__box {
    width: 400px;
    background-color: #fafafa;
    border-radius: 5px;
    overflow: hidden;
    padding-top: 10px;
    height: fit-content;
    margin-top: 30px;
}

input[type="text"] {
    width: 100%;
    padding: 10px 20px 10px 0;
    border: none;
    outline: none;
}

button.btn__add {
    background-color: yellowgreen;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    color: white;
}

.todo__box li {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    border-bottom: 1px solid #e5e5e5;
    font-weight: 500;
}
.todo__box li:hover {
    cursor: pointer;
}
.todo__box li i{
    cursor: pointer;
    color: #b6b6b6;
    opacity: 0.7;
    transition: all 0.5s ease;
}
.todo__box li i:hover{
    cursor: pointer;
    opacity: 1;
    color: #252525;
}

ul li>span {
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul li>span.completed {
    text-decoration: line-through;
    color: #b6b6b6;
}

.btnDelete{
    display:none;
}

li:hover .btnDelete{
    display: block;
}

.disable span{
    color: darkgray;
    text-decoration: line-through;
}

input.form-control:focus{
    box-shadow: none;
}

