input.form-control {
    display: block;
    margin-bottom: 10px;
    height: 50px;
    width: 90%;
    font-size: 22px;
    outline: none;
    border: none;
    padding: 0 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-group input{
    width: 100% !important;
}

button.btn-Submit,button.btn-Remove {
    width: calc(100%/2 - 10px);
    background-color: rgb(238, 94, 94);
    height: 50px;
    color: white;
    font-size: 24px;
    margin: 5px;
}

button.btn-Remove {
    color: rgb(238, 94, 94);
    background-color: white;
    font-weight: bold;
}

button.btn-Cancel {
    height: auto;
    width: auto;
}


/* Grid Button  */
.block-number {
    display: flex;
    flex-wrap: wrap;
}

.block-number button {
    flex: 1 0 21%; /* explanation below */
    margin: 5px;
    height: 100px;
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: bold;
}