.block-number {
    display: flex;
    flex-wrap: wrap;
}

button {
    flex: 1 0 21%; /* explanation below */
    margin: 5px;
    height: 100px;
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: bold;
}