.App {
  text-align: center;
  height: 100vh;
}
.App h1{
  color: #fafafa;
  padding: 40px 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


* {
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 16px;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  border-collapse: none;
  overflow-x: hidden;
  background-image: linear-gradient(to right, #4daf54, #3d8880);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}